<div class="homePage"> 
<!-- homePage starts it contains UI of Diagnose tool by indigu -->

 <!-- this row conains text and image -->
    <div class="container">
        <div class="row indigu_columnDiagnose">   
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <!-- content title -->
                <div class="indigu_textOneClick">
                    <h1>
                        <span class="indigu_columnDiagnoseSpan1">One Click </span>
                         <span class="indigu_columnDiagnoseSpan2">to your first step to</span>
                         <span class="indigu_columnDiagnoseSpan4">
                            <span class="indigu_columnDiagnoseSpan4_inner">
                                Personal learning playlist
                            </span>for
                         </span>
                         <span class="indigu_columnDiagnoseSpan5">Your leadership development</span>                                         
                    </h1>
                </div>
                <!-- content description -->
                <div class="indigu_textWelcome mt-4">
                    Welcome to the start of a very individual learning journey to further develop your 
                    leadership skills! Embark on this short diagnostic journey. It pays off. 
                    We promise you that. Your indigu team.
                </div>
                <div class="mt-4">
                    <button class="btn indigu_diagnoseBtn text-white">
                        <span>Diagnose Now</span></button>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <div style="position: absolute; right: 0;">
                    <div class="indigu_columnDiagnoseImage">
                        <img class="img-fluid" src="./../../../assets/hero img.png" 
                        alt="hero_image">
                    </div>
                    <div class="indigu_columnDiagnoseImagePlay">
                        <img class="img-fluid " src="./../../../assets/play 1.png" alt="">
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>


<!-- this row contain content text title -->
    <div class="container-fluid">
        <div class="row indigu_textHowItWorksSimpleSteps">
            <!-- title -->
            <div class="indigu_textTitle d-flex justify-content-center">
                How It Works
            </div>
            <!-- subtitle -->
            <div class="indigu_textDisc mt-4 d-flex justify-content-center">
                In 3 Simple Steps
            </div>
        </div> 
    </div>


<!-- this row contains content in three column structure -->
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="indigu_textColumn_1 col-xs-12 col-sm-4 col-md-4 .col-lg-4 col-xl-4">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="indigu_textColumn_1_number">1</div>
                            <img src="./../../../assets/check2-circle 1.png" alt="vectore_image">
                        </div>
                        <div class="indigu_textColumn_1_title mt-3">
                            Select your answer from given question
                        </div>
                        <div class="indigu_textColumn_1_disc mt-3">
                            It is a long established fact that a reader will be
                            distracted by the readable content of a page when looking at its layout.
                        </div>
                    </div>
                  </div>
            </div>

            <div class="indigu_textColumn_2 col-xs-12 col-sm-4 col-md-4 .col-lg-4 col-xl-4">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="indigu_textColumn_2_number">2</div>
                            <img src="./../../../assets/Vector(2).png" alt="vectore_image">
                        </div>

                        <div class="indigu_textColumn_2_title mt-3">
                            Categorize the give topics with dragging them
                        </div>
                        <div class="indigu_textColumn_2_disc mt-3">
                            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of 
                            letters, as opposed to using 'Content here’.
                        </div>
                    </div>
                  </div>
            </div>

            <div class="indigu_textColumn_3 col-xs-12 col-sm-4 col-md-4 .col-lg-4 col-xl-4">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="indigu_textColumn_3_number">3</div>
                            <img src="./../../../assets/card-checklist 1.png" alt="vectore_image">
                        </div>
 
                        <div class="indigu_textColumn_3_title mt-3">
                            See the diagnostic based results
                        </div>
                        <div class="indigu_textColumn_3_disc mt-3">
                            Various versions have evolved over the years, sometimes by accident, 
                            sometimes on purpose (injected humour and the like).
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>


<!-- content -->
    <div class="container">
        <div class="row indigu_textTestimonialsAndWords">  
            <!-- title -->
            <div class="indigu_textTitle d-flex justify-content-center">
                Testimonials
            </div>
            <!-- subtitle -->
            <div class="indigu_textDisc mt-4 justify-content-center">
                <div class="indigu_textWords">Words from the</div>
                <div>candidates</div>
            </div>
        </div>
    </div>


<!-- slider starts -->
    <div class="container">
        <div class="row indigu_columnNickAndRush">
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card border-0 indigu_columnNick">
                                        <img src="./../../../assets/Avatar.png" class="card-img-top" alt="Avatar-image">
                                        <div class="card-body">
                                          <span id="indigu_columnNickAndRushSpanTitle">Nick Craig, </span>
                                          <span id="indigu_columnNickAndRushSpanSubtitle">Ceo of Airbnb</span>
                                          <p class="card-text mt-3">
                                            "There are many variations of passages of Lorem Ipsum available, 
                                            but the majority have suffered alteration in some form, by injected humour, 
                                            or randomised words which don't look even slightly believable. 
                                            If you are going to use a passage of Lorem Ipsum, you need to be sure."
                                          </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card border-0 indigu_columnRush">
                                        <img src="./../../../assets/Avatar (1).png" class="card-img-top" alt="Avatar-image">
                                        <div class="card-body">
                                          <span  id="indigu_columnNickAndRushSpanTitle">Rush Gala </span>
                                          <span  id="indigu_columnNickAndRushSpanSubtitle">Founder of Golang</span>
                                          <p class="card-text mt-3">
                                            "All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks 
                                            as necessary, making this the first true generator on the Internet. 
                                            It uses a dictionary of over 200 Latin words, combined with a handful of 
                                            model sentence structures, to generate Lorem Ipsum which looks reasonable."
                                          </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- extra item of carousel starts! -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card border-0 indigu_columnNick">
                                        <img src="./../../../assets/Avatar.png" class="card-img-top" alt="Avatar-image">
                                        <div class="card-body">
                                          <span id="indigu_columnNickAndRushSpanTitle">Nick Craig, </span>
                                          <span id="indigu_columnNickAndRushSpanSubtitle">Ceo of Airbnb</span>
                                          <p class="card-text mt-3">
                                            "There are many variations of passages of Lorem Ipsum available, 
                                            but the majority have suffered alteration in some form, by injected humour, 
                                            or randomised words which don't look even slightly believable. 
                                            If you are going to use a passage of Lorem Ipsum, you need to be sure."
                                          </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card border-0 indigu_columnRush">
                                        <img src="./../../../assets/Avatar (1).png" class="card-img-top" alt="Avatar-image">
                                        <div class="card-body">
                                          <span  id="indigu_columnNickAndRushSpanTitle">Rush Gala </span>
                                          <span  id="indigu_columnNickAndRushSpanSubtitle">Founder of Golang</span>
                                          <p class="card-text mt-3">
                                            "All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks 
                                            as necessary, making this the first true generator on the Internet. 
                                            It uses a dictionary of over 200 Latin words, combined with a handful of 
                                            model sentence structures, to generate Lorem Ipsum which looks reasonable."
                                          </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- extra item of carousel ended! -->
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- sliders ended! -->



<!-- arrow button as a slider -->
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <button class="btn float-end border-0 indigu_columnNickArrow" 
                data-bs-target="#carouselExampleIndicators2" 
                role="button" 
                data-bs-slide="prev">
                    <img class="img-fluid mx-auto" src="./../../../assets/arrow-left 1.png" 
                    alt="arrow-left">
                </button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <button class="btn border-0 indigu_columnRushArrow"
                data-bs-target="#carouselExampleIndicators2" 
                role="button" 
                data-bs-slide="next">
                    <img class="float-start mx-auto img-fluid" src="./../../../assets/arrow-right 1.png" 
                    alt="arrow-right">
                </button>
            </div>
        </div>
    </div>



<!-- text content -->
    <div class="container">
        <div class="row indigu_textAboutIndigu">  
            <!-- title -->
            <div class="indigu_textTitle d-flex justify-content-center">
                About
            </div>
            <!-- subtitle -->
            <div class="indigu_textDisc mt-4 d-flex justify-content-center">
                indigu
            </div>
        </div>
    </div>



<!-- text and image -->
    <div class="row">   
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <!-- input image -->
            <img class="content-body indigu_columAboutIndiguImage img-fluid" src="./../../../assets/img_1 1.png" alt="about_indigu">
            <img class="content-body indigu_columAboutIndiguImageRectangle" src="./../../../assets/Rectangle 1977.png" alt="Rectangle_image">
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <div class="container">
            <!-- content text title and description -->
            <div class="indigu_AboutIndiguTitle">
                TRAINING DESIGNED FOR YOU 
            </div>
            <div class="indigu_AboutIndiguDisc1 mt-3">
                Tailormade to our customer’s needs, we develop Train the Trainer courses, manager trainings, 
                seminars about interface management, customer care, coaching, e-training. Your challenges
                combine with our central strengths to create programs that inspire executives
                and make a long-term difference. High-end education for corporate or contract trainers. 
            </div>
            <div class="indigu_AboutIndiguDisc2 mt-3">
                Custom-made. Systemic. With ISO certificate (17024). Our Customer Care training provides 
                non-sales-personnel with tools for positive customer encounters that have a lasting effect.
            </div>
            <div class="indigu_AboutIndiguReadmore w-75 mt-2">
                Read more
            </div>
            </div>



        </div>
    </div>


<!-- card -->
    <div class="container">
        <div class="row indigu_joinTheIndiguPLP">
        <!-- card starts -->
        <div class="card">
            <div class="card-body">
                <div class="card-title indigu_joinTheIndiguPLPText">
                    Join the
                    <span class="indigu_joinTheIndiguPLPSpan"> indigu PLP </span>now
                </div>
                <button class="btn text-white px-5 py-3">Join now</button>
            </div>
        </div>
        <!-- card ended! -->
        </div>
    </div>


<!-- homePage ended! -->
</div>
  